@import './mixins';

.main {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    opacity: 0;
    background: #5588bb;
    &:global(.isVisible) {
        opacity: 1;
        transition: .7s ease-in-out;
    }
}
.title {
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    @include pc {
        font-size: 140px;
    }
}