.image {
    margin: 0 auto;
}
.title {
    font-size: 32px;
    font-weight: 400;
}
.language {
    color: #999;
    margin-top: 4px;
}
.text {
    text-align: center;
}
.desc {
    font-family: 'Honoka', 'sans-serif';
    font-size: 16px;
    margin-top: 16px;
}